body {
  background-color: white;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", "Helvetica Neue", Arial, sans-serif;
}

a {
  color: #005aff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  max-width: 1300px;
}

h1, h2 {
  padding-bottom: 20px;
  text-align: center
}

.container {
  width: 100%;
  max-width: 350px;
  margin: 20px;
}

.group {
  width: 100%;
  margin-bottom: 5px;
  padding-bottom: 3px;
  border-bottom: 1px solid #ddd;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 2px;
  font-family: Consolas, monospace;
  font-size: 14px;
  min-height: 42px;
}

.default {
  font-weight: bold;
}

.shorthand-hint {
  font-size: 10px;
  color: #797979;
}
